#titletext {font-size:130px;
			}

.text-center {color :white;
			  padding-top:200px;}

#map{width:100%; height:750px;
			}

#row1 {width:100%; height:500px;}

.restDiv {width:80%; height:150px;
		  padding:10px;
		  border-bottom: solid red;
          background-color: lightgrey;
		  float:left;}

.resimage {float:left;
		   height:130px; width:150px;
		   margin-right:10px;}

.about {background: url(../images/background.jpg) no-repeat center center scroll;}

.click {margin:5px;}

form {align-items: }





