
header {margin-bottom:30px;
		padding-top:10px;
		padding-bottom:20px;
		background-color:#8bc34a;}

#map{width:100%; height:500px;
			}

.row {width:100%; height:600px;}

#spin {z-index: 999;
	   position: absolute;}



