
header {margin-bottom:30px;
		padding-top:10px;
		padding-bottom:20px;
		background-color:#8bc34a;}

#map{width:100%; height:500px;
			}

.row {width:100%; height:500px;}

#restaurantlist {height:500px; width:50%;}

.restDiv {width:80%; height:150px;
		  background:#9e9e9e ;
		  z-index: 999;
		  position:relative;
		  display:inline-block;}

